.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.DiscussionPostPage {
  max-width: 1000px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 30px;
}

.DiscussionPostPage .container {
  display: grid;
  height: 100%;
  gap: 15px;
}

.DiscussionPostPage .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DiscussionPostPage .header .title_author {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  margin: 5px;
}
.DiscussionPostPage .header .author {
  color: rgba(0, 0, 0, 0.511);
}
.DiscussionPostPage button {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: none;
  border-radius: 50%;
  transition: 0.5s ease;
}

.DiscussionPostPage button:hover {
  cursor: pointer;
  background: #f0f0f0;
}
.DiscussionPostPage .comment_form {
  width: 100%;
  display: flex;
  margin: 0;
  outline: 1px solid #c1c1c1;
  padding: 0;
  height: 40px;
  margin: 0 auto;
  max-width: 1000px;
}
.DiscussionPostPage .comment_form button[type="submit"] {
  background-color: #007acc;
  color: white;
  border-radius: 0;
}
.DiscussionPostPage .comment_form input[type="text"] {
  width: 100%;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.DiscussionPostPage .comments_container {
  height: 300px;
  overflow-y: scroll;
}

.DiscussionPostPage .comment_card {
  border: 1px solid black;
  margin: 20px 0;
  padding: 30px;
}

.DiscussionPostPage .comment_card .header {
  font-size: 0.5rem;
}
.DiscussionPostPage .comment_card .comment_content {
  margin: 5px 0;
}
.DiscussionPostPage .comment_card .comment_likes {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.DiscussionPostPage .comment_card .header,
.DiscussionPostPage .comment_card .comment_likes {
  color: rgb(77, 77, 77);
}
