.CommentCard {
  margin: 20px 0;
  padding: 30px;

  .header {
    font-size: 0.5rem;
  }
  .comment_content {
    margin: 5px 0;
  }
  .comment_likes {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .header,
  .comment_likes {
    color: rgb(77, 77, 77);
  }
}
.line_break {
  border-bottom: 1.5px solid rgb(181, 181, 181);
}
